{% load static %}
<div class="featured5">
    <div class="frame-parent6">
        <div class="parent8">
            <div class="div28">{{ title_line1|default:"Исследуйте" }}</div>
            <div class="div29">{{ title_line2|default:"новые миры" }}</div>
        </div>
        <div class="frame-parent7">
            <div class="frame-parent8">
                <div class="group-wrapper">
                    {% if use_video %}
                        <video class="group-child-main-video" autoplay muted loop playsinline>
                            <source src="{% static 'accounts/images/main_page/all_startup.mp4' %}" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    {% else %}
                        <img class="group-child-main-video" src="{% static image_path %}" alt="">
                    {% endif %}
                </div>
                <a href="{% url 'startups_list' %}" class="btn btn--yellow-gradient">
                    <span>Все стартапы</span>
                    <img class="icon" alt="Arrow" src="{% static 'accounts/images/main_page/rightarrow.svg' %}">
                </a>
            </div>
            <div class="divider"></div>
            

            
            <div class="frame-parent9">
                {% if random_startups %}
                    {% for startup in random_startups %}
                    <div class="frame-wrapper">
                        <div class="frame-parent10">
                            <div class="startup-image-container">
                                <img class="frame-child9 {% if startup.has_logo %}startup-logo{% endif %}" alt="{{ startup.name }}" src="{{ startup.image }}">
                                {% if startup.has_logo and startup.planet_image %}
                                <div class="startup-planet-badge" style="background-image: url('{{ startup.planet_image }}');"></div>
                                {% endif %}
                            </div>
                            <div class="content">
                                <div class="voltforge-dynamics-parent">
                                    <div class="voltforge-dynamics">{{ startup.name }}</div>
                                    <div class="info">
                                        <img class="avatar01-icon" alt="Avatar" src="{{ startup.owner_avatar }}">
                                        <div class="label2">
                                            <div class="popular">{{ startup.rating }}/5</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="voltforge-description">{{ startup.description }}</div>
                                <a href="{% if startup.url|slice:':1' == '/' %}{{ startup.url }}{% else %}/startups_list/{% endif %}" class="btn btn--blue">
                                    <span>Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    
                    <div class="frame-wrapper">
                        <div class="frame-parent10">
                            <img class="frame-child9" alt="VoltForge" src="{% static 'accounts/images/main_page/volt_forge.webp' %}">
                            <div class="content">
                                <div class="voltforge-dynamics-parent">
                                    <div class="voltforge-dynamics">VoltForge Dynamics</div>
                                    <div class="info">
                                        <img class="avatar01-icon" alt="Avatar" src="{% static 'accounts/images/avatars/default_avatar_ufo.png' %}">
                                        <div class="label2">
                                            <div class="popular">4/5</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="voltforge-description">VoltForge разрабатывает твердотельные батареи с графеновыми наноструктурами, которые заряжаются...</div>
                                <a href="/startups_list/" class="btn btn--blue">
                                    <span>Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="frame-wrapper">
                        <div class="frame-parent10">
                            <img class="frame-child9" alt="NeuroBloom" src="{% static 'accounts/images/main_page/neuro_bloom.webp' %}">
                            <div class="content">
                                <div class="voltforge-dynamics-parent">
                                    <div class="voltforge-dynamics">NeuroBloom</div>
                                    <div class="info">
                                        <img class="avatar01-icon" alt="Avatar" src="{% static 'accounts/images/avatars/default_avatar_ufo.png' %}">
                                        <div class="label2">
                                            <div class="popular">5/5</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="voltforge-description">NeuroBloom предлагает носимый гаджет с ИИ, который анализирует нейронные паттерны...</div>
                                <a href="/startups_list/" class="btn btn--blue">
                                    <span>Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="frame-wrapper">
                        <div class="frame-parent10">
                            <img class="frame-child9" alt="BioCrop Nexus" src="{% static 'accounts/images/main_page/biocrop_nexus.webp' %}">
                            <div class="content">
                                <div class="voltforge-dynamics-parent">
                                    <div class="voltforge-dynamics">BioCrop Nexus</div>
                                    <div class="info">
                                        <img class="avatar01-icon" alt="Avatar" src="{% static 'accounts/images/avatars/default_avatar_ufo.png' %}">
                                        <div class="label2">
                                            <div class="popular">4/5</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="voltforge-description">BioCrop Nexus создает генетически оптимизированные семена, устойчивые к климату...</div>
                                <a href="/startups_list/" class="btn btn--blue">
                                    <span>Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="creators" style="display: none;">
                <div class="div31">Последние обновления от стартаперов 🔥</div>
                <div class="frame-parent13">
                    {% if random_startupers %}
                        {% for startuper in random_startupers %}
                        <div class="frame-parent14">
                            <div class="user-parent">
                                <img class="avatar01-icon3" alt="Avatar" src="{{ startuper.avatar_url }}">
                                <div class="name-parent">
                                    <div class="name-wrapper">
                                        <span class="cosmochat-name">{{ startuper.name }}</span>
                                    </div>
                                    <div class="rating-wrapper">
                                        <span class="rating-stars">{{ startuper.stars_html }}</span> <span class="rating-value">({{ startuper.rating|floatformat:0 }}/5)</span>
                                    </div>
                                </div>
                            </div>
                            {% if not forloop.last %}
                            <div class="divider1"></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% else %}
                        
                        <div class="frame-parent14">
                            <div class="user-parent">
                                <img class="avatar01-icon3" alt="Avatar" src="{% static 'accounts/images/avatars/default_avatar_ufo.png' %}">
                                <div class="name-parent">
                                    <div class="name-wrapper">
                                        <span class="cosmochat-name">Виктор Смирнов</span>
                                    </div>
                                    <div class="rating-wrapper">
                                        <span class="rating-stars">★★★★☆</span> <span class="rating-value">(5/5)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider1"></div>
                        <div class="frame-parent14">
                            <div class="user-parent">
                                <img class="avatar01-icon3" alt="Avatar" src="{% static 'accounts/images/avatars/default_avatar_ufo.png' %}">
                                <div class="name-parent">
                                    <div class="name-wrapper">
                                        <span class="cosmochat-name">Анна Кузнецова</span>
                                    </div>
                                    <div class="rating-wrapper">
                                        <span class="rating-stars">★★★★★</span> <span class="rating-value">(5/5)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider1"></div>
                        <div class="frame-parent14">
                            <div class="user-parent">
                                <img class="avatar01-icon3" alt="Avatar" src="{% static 'accounts/images/avatars/default_avatar_ufo.png' %}">
                                <div class="name-parent">
                                    <div class="name-wrapper">
                                        <span class="cosmochat-name">Дмитрий Иванов</span>
                                    </div>
                                    <div class="rating-wrapper">
                                        <span class="rating-stars">★★★★☆</span> <span class="rating-value">(4/5)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

